@import "_normalize";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

/* ==================== Publican styles ==================== */

/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { box-sizing: border-box }

$orange: hsl(30, 90, 50);
$yellow: hsl(47, 87, 50);

$orangebg: lighten(desaturate($orange, 10), 45);
$yellowbg: lighten(desaturate($yellow, 10), 45);

$black: #332a19;
$white: #fdfdfb;
$brilliant: #fff;
$formedge: $yellow;
$formbg: $yellowbg;
$font: Arial, sans-serif;

@mixin tipshadow {
    @include single-box-shadow(#000, 0, 1px, 7px);
};

/* Property order follows the standard explained in:
   http://rhodesmill.org/brandon/2011/concentric-css/ */

body {
    background-color: $white;
    color: $black;
    text-align: center;
    font-family: $font;
    font-size: 18px / 16px * 100%;
    line-height: 1.4;
}
body > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
body > table {
    margin-left: auto;
    margin-right: auto;
}

/* Universal styles all have hyphens in their name. */

.action-nudge {
    font-family: Georgia, serif;
    font-size: 12px / 18px * 1em;
    font-style: italic;
}

/* The timeline is the large table on the main page. */

.timeline {
    margin: 2em auto;
    th, td {
        padding: 1px .8em;
    }
    th:first-child { text-align: left; }
    th:last-child { text-align: right; }
    td { text-align: left; }
    td:nth-child(3) { text-align: right; }

    a {
        display: inline-block;
        border: 1px solid $formedge;
        @include border-radius(.3em, .3em);
        background-color: $formbg;
        padding: 0 .4em;
        color: $black;
        line-height: 1.2;
        text-decoration: none;
        &:hover {
            background-color: $brilliant;
            @include tipshadow;
        }
    }

    /* Tooltip shows a tax-form summary. */

    .tipped > :last-child {
        left: -8.4em;
        width: 20em;
        text-align: center;
        font-family: 'Open Sans Condensed', $font;
        span {
            display: block;
        }
        .title {
            margin: 0;
            font-size: 1em;
            /* Tooltip has very little room for long tax form titles. */
        }
        .action-help {
            font-family: $font;
        }
    }
}

/* A tooltip is the final element inside a <div class="tipped"> */

.tipped {
    position: relative;
    & > :last-child {
        visibility: hidden;
        opacity: 0;
        @include single-transition(opacity, 0.1s, linear);
        position: absolute;
        bottom: 130%;
        @include border-radius(.5em, .5em);
        @include tipshadow;
        background-color: $brilliant;
    }
    &:hover > :last-child {
        visibility: visible;
        opacity: 1;
    }
    & > :last-child:hover {
        visibility: hidden;
        opacity: 0;
    }
}
