@import "_normalize";

/* ==================== Publican styles ==================== */

/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { box-sizing: border-box }

$white: #fffff0;
$brilliant: #fff;

/* Property order follows the standard explained in:
   http://rhodesmill.org/brandon/2011/concentric-css/ */

body {
    background-color: $white;
    text-align: center;
    font-size: 18px / 16px * 100%;
}
body > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
}
body > table {
    margin-left: auto;
    margin-right: auto;
}
.timeline {
    td:nth-child(3) {
        text-align: right;
    }
}

/* Tooltips are the final element inside a <div class="tipped"> */

.tipped {
    position: relative;
    & > :last-child {
        display: none;
        position: absolute;
        bottom: 100%;
        background-color: $brilliant;
    }
    &:hover > :last-child {
        display: block;
    }
    & > :last-child:hover {
        display: none;
        color: red;
    }
    :last-child:hover {
        color: red;
    }
}
