<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/styles/screen.css">
  <link rel="stylesheet"
        href="/static/css/ui-lightness/jquery-ui-1.8.23.custom.css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
        rel="stylesheet" type="text/css">
  <script src="/static/scripts/jquery-1.8.0.min.js"></script>
  <script src="/static/scripts/jquery-ui-1.8.23.custom.min.js"></script>
  <script src="/static/scripts/json2.js"></script>
  <script src="/static/scripts/publican.js"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>{% block body %}{% endblock %}
<footer>
  © 2012 Brandon Rhodes —
  <a href="https://github.com/brandon-rhodes/publicanus">available</a>
  under the
  <a href="https://raw.github.com/brandon-rhodes/publicanus/master/MIT-LICENSE.txt">MIT License</a>
</footer>
</body>
</html>
