{% extends "publican/_design.html" %}
{% load publican %}

{% block title %}Form {{ form.name }} for {{ filing.period }}{% endblock %}

{% block body %}
<hgroup>
  <h1>{{ form.name }}</h1>
  <h2>{{ filing.form.title }}</h2>
</hgroup>

<table class="filing-table">
  {% spaceless %}
  {% for row in grid %}
  <tr>
    {% for name, datum, colspan in row %}
    <th>{{ name }}</th>
    {% if datum = '' %}
    <th></th>
    {% else %}
    <td{% if datum|is_decimal %} class="numeric"{% endif %}{% if colspan %} colspan="{{ colspan }}"{% endif %}>{{ datum }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% endspaceless %}
</table>

{% endblock %}
