{% extends "publican/_design.html" %}
{% load publican %}

{% block title %}Form {{ form.name }} for {{ filing.period }}{% endblock %}

{% block body %}
<hgroup>
  <h1>{{ form.name }}</h1>
  <h2>{{ filing.form.title }}<br>{{ filing.period }}</h2>
</hgroup>

<p>
  This form
  {% if today == filing.due_date %}is due today
  {% else %}{% if today < filing.due_date %}will be{% else %}was{% endif %}
  due on {{ filing.due_date|mydate:"d B Y" }}{% endif %}
  <br>
  {% if real_filings %}
  and you filed it
  on {{ real_filings.0.date|mydate:"d B Y" }}
  <br>
  which was
  {% with offset=real_filings.0.offset %}
  {% if offset == 0 %}<span class="is-happy">right on time!</span>
  {% elif offset > 0 %}<span class="is-happy">{{ offset }} days early!</span>
  {% else %}<span class="is-sad">{{ offset|abs }} days late.</span>
  {% endif %}
  {% endwith %}
  {% endif %}
</p>
<p>
  <a class="button">Record a<br>new filing</a>
  <a class="button" href="/">I'm done,<br>return home</a>
</p>
<p>
  Should you choose to fill out {{ form.name }} by hand,
  the values might look something like this,
  based on the data you have provided to Publican:
</p>

<table class="filing-table">
  {% spaceless %}
  {% for row in grid %}
  <tr>
    {% for name, datum, colspan in row %}
    <th>{{ name }}</th>
    {% if datum = '' %}
    <th></th>
    {% else %}
    <td{% if datum|is_decimal %} class="numeric"{% endif %}{% if colspan %} colspan="{{ colspan }}"{% endif %}>{{ datum }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% endspaceless %}
</table>

{% endblock %}
