{% extends "publican/_design.html" %}
{% load publican %}

{% block title %}Form {{ form.name }} for {{ filing.period_name }}{% endblock %}

{% block body %}
<div><a class="button return-home" href="/">← Home</a></div>

<hgroup>
  <h1>{{ form.name }}</h1>
  <h2>{{ form.title }}<br>{{ filing.period_name }}</h2>
</hgroup>

<p>
  This form
  {% if today == filing.due_date %}
    is due today
  {% else %}
    {% if today < filing.due_date %}will be{% else %}was{% endif %}
    due on {{ filing.due_date|mydate:"d B Y" }}
  {% endif %}
  <br>
  {% if real_filings %}
    and you filed it
    on {{ real_filings.0.date|mydate:"d B Y" }}
    <br>
    which was
    {% with offset=real_filings.0.offset %}
    {% if offset == 0 %}<span class="is-happy">right on time!</span>
    {% elif offset > 0 %}<span class="is-happy">{{ offset }} days early!</span>
    {% else %}<span class="is-sad">{{ offset|abs }} days late.</span>
    {% endif %}
    {% endwith %}
  {% elif filing.due_date < today %}
    so <b class="is-sad">this form is now late.</b>
  {% endif %}
</p>
<p>
  <a class="button">Record a<br>new filing</a>
</p>
{% if real_filings %}
<p>
  {% for real_filing in real_filings %}
    You {% if not forloop.first %}re-{% endif %}filed
    on {{ real_filing.date|mydate:"d B Y" }}
    <a class="button delete-filing tipped"
       data-url="/api/v1/filing/{{ real_filing.id }}/">×<span>
        Actually, I didn't
    </span></a>
    {% if not forloop.last %}<br>{% endif %}
  {% endfor %}
</p>
{% endif %}
<p>
  Should you choose to fill out {{ form.name }} by hand,
  the values might look something like this,
  based on the data you have provided to Publican:
</p>

<table class="filing-table">
  {% spaceless %}
  {% for row in grid %}
  <tr>
    {% for name, datum, colspan in row %}
    <th>{{ name }}</th>
    {% if datum = '' %}
    <th></th>
    {% else %}
    <td{% if datum|is_decimal %} class="numeric"{% endif %}{% if colspan %} colspan="{{ colspan }}"{% endif %}>{{ datum }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  {% endspaceless %}
</table>

{% endblock %}
