{% extends "publican/_design.html" %}
{% load publican %}

{% block title %}Publican - Your Small Business{% endblock %}

{% block body %}
<div><a class="button return-home" href="/">← Home</a></div>

<h1>Ledger</h1>

<p>
  This double-entry ledger is the core of your financials,
  from which all of Publican's tax calculations derive.
</p>

<table class="main-timeline ledger-table">
  <tr>
    <th>
    <th>
    <th>From
    <th>To
    <th>For
    <th>Payment
  </tr>
  {% for row in rows %}
  {% with t=row.transaction %}
  <tr>
    <td>{% if row.is_new_year %}{{ t.date|mydate:"Y" }}{% endif %}
    <td>{% if row.is_new_date %}{{ t.date|mydate:"b d" }}{% else %}—{% endif %}
    <td>{{ row.debit_name }}
    <td>{{ row.credit_name }}
    <td>{{ row.purpose }}
    <td>{{ t.amount }}
  </tr>
  {% endwith %}
  {% endfor %}
</table>

<p>
  The table will support live editing once we reach beta,
  and import and export to standard formats is also being planned.
</p>

{% endblock %}
