{% extends "publican/_design.html" %}
{% load publican %}

{% block body %}
<div>Welcome!</div>

<table class="timeline">
  <tr><th>Month<th>Forms<th>Due</tr>
  {% for row in rows  %}
  <tr>
    <th>{{ row.month|date:"Y-M" }}</th>
    <td>
      {% for filing in row.filings %}
      <span class="tipped">
        <a class="tipped" href="{{ filing|href }}">{{ filing.form.name }}</a>
        <span>
          <span class="title">{{ filing.form.title }}</span>
          {% if filing.balance_due %}
          $<b>{{ filing.balance_due }}</b>  due on
          {% else %}
          Due
          {% endif %}
           <b>{{ filing.due_date|date:"M d" }}</b>
          <span class="action-help">Click to open</span>
        </span>
      </span>
      {% endfor %}
    </td>
    {% if row.total_due %}
    <td class="total">
      $ {{ row.total_due }}
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>

{% endblock %}
