{% extends "publican/_design.html" %}
{% load publican %}

{% block body %}
<h1>Welcome!</h1>

<table class="main-timeline">
  <tr><th>Month<th>Forms<th>Total</tr>
  {% for row in rows  %}
  <tr>
    <td>{{ row.month|date:"Y M" }}</td>
    <td>
      {% for filing in row.filings %}
      <span class="filing tipped">
        <a class="tipped" href="{{ filing|href }}">{{ filing.form.name }}</a>
        <span>
          <span class="title">{{ filing.form.title }}</span>
          {% if filing.balance_due %}
          $<b>{{ filing.balance_due }}</b>  due on
          {% else %}
          Due
          {% endif %}
           <b>{{ filing.due_date|date:"M d" }}</b>
          <span class="action-nudge">Click to open</span>
        </span>
      </span>
      {% endfor %}
    </td>
    {% if row.total_due %}
    <td class="total">
      $ {{ row.total_due }}
    </td>
    {% endif %}
  </tr>
{% endfor %}
</table>

{% endblock %}
