{% extends "publican/_design.html" %}
{% load publican %}

{% block title %}Publican - Your Small Business{% endblock %}

{% block body %}
<h1>Welcome!</h1>

<table class="main-timeline">
  <tr>
    <th>
    <th>
    <th>Employee<br>payroll
    <th>Consultant<br>fees
    <th>Tax<br>forms
    <th>Tax<br>liability
  </tr>
  {% for row in rows  %}
  <tr{% if row.date == this_month %} class="current"{% endif %}>
    <td>
      {% if forloop.first or row.date.month == 1 %}
      {{ row.date|date:"Y" }}
      {% endif %}
    </td>
    <td>
      {{ row.date|date:"M" }}
    </td>
    <td>{% if row.employee_cost %}$ {{ row.employee_cost }}{% endif %}</td>
    <td>{% if row.consultant_cost %}$ {{ row.consultant_cost }}{% endif %}</td>
    <td>
      {% for filing in row.filings %}
      <span class="filing tipped">
        <a href="{{ filing|href }}"
           class="{{ filing.state }}">{{ filing.form.name }}</a>
        <span>
          <span class="title">{{ filing.form.title }}</span>
          {% if filing.balance_due %}
          $ <b>{{ filing.balance_due }}</b> 
          {% else %}
          $ <b>0</b> 
          {% endif %}
          {% if filing.due_date < today %}was{% else %}is{% endif %} due on
          <b>{{ filing.due_date|date:"M d" }}</b>
          {% if filing.state == "filed" %}
          <br>Filed on
          <b>{{ filing.real_filings.0.date|date:"M d" }}</b>
          {% endif %}
          <span class="action-nudge">(Click to open)</span>
        </span>
      </span>
      {% endfor %}
    </td>
    <td class="total">
      {% if row.total_due %}$ {{ row.total_due }}{% endif %}
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
